@import url(https://fonts.googleapis.com/css?family=Open+Sans&text=zigpto);
@import url(https://fonts.googleapis.com/css?family=Roboto&text=eh);
@import url(https://fonts.googleapis.com/css?family=Lato&text=am);
@import url(https://fonts.googleapis.com/css?family=Oswald&text=nr);
@import url(https://fonts.googleapis.com/css?family=Montserrat&text=TASNG);

header {
    background-color: black;
    display: block;
    padding: 10px;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#c92705, #f39109);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.glitch {
    font-family: 'Montserrat', 'Lato', 'Oswald', 'Open Sans', 'Roboto';
}

h2 {
    color: black;
}
